/*
  Golden Section Modular Scale:
  https://www.modularscale.com/?22&px&1.618
*/

/*-------------------------------------------------------------------*/
                            /* For Mobile*/
/*-------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}
section{
	border-top:2px solid;
}
.prodheader{
	margin-top:3em;
	text-align:center;
	color:white;
	font-size:4.236em;
}
.columns {
  float: left;
  width: 100%;
  padding: 8px;
	display:block;
}

.products {
	background-color:#eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prodimage{
	width:100%;
}
.products:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.products .productname {
  background-color: #00BFFF;
  color: white;
  font-size: 2.618em;
	border:none;
}

.products p, h2{
	border-left:#eee 15px solid;
	border-right:#eee 15px solid;
  background-color: white;
	color: #00BFFF;
  padding: 1em;
  text-align: center;
}

.products .grey {
  background-color: #eee;
  font-size: 1.618em;
	color: white;
}

.button {
  background-color:#00BFFF;
  border: none;
	width:
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}


/*-------------------------------------------------------------------*/
                          /*For Tablet Viewing*/
/*-------------------------------------------------------------------*/
@media only screen and (min-width: 600px) {



/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
@media only screen and (max-width: 600px){


/*-------------------------------------------------------------------*/
                              /*Desktop view*/
/*-------------------------------------------------------------------*/

@media only screen and (min-width: 600px) {



/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

  @media only screen and (max-width: 600px){

  

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
