/*
  Golden Section Modular Scale:
  https://www.modularscale.com/?22&px&1.618
*/

/*-------------------------------------------------------------------*/
                            /* MOBILE */
/*-------------------------------------------------------------------*/
/*
 Color Palette:
 https://coolors.co/0071f3-00bfff-23c9ff-ffffff-173753
*/

/* HOME PAGE */
body {
  background-color: #00BFFF;
  margin: 0;
}
.button1 {
  background-color: #173753; /* Green */
  border: none;
  color: white;
  padding: 40px 80px;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 81%;
  margin-left: 10%;
  margin-top: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  margin-bottom: 80px;
}
.button2 {
  background-color: #173753; /* Green */
  border: none;
  color: white;
  padding: 60px 80px;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 65%;
  margin-left: 10%;
  margin-top: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 60px;
}
.button3 {
  background-color: #173753; /* Green */
  border: none;
  color: white;
  padding: 60px 80px;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 81%;
  margin-left: 10%;
  margin-top: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  margin-bottom: 40px;
}
.button4 {
  background-color: #173753; /* Green */
  border: none;
  color: white;
  padding: 35px 40px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 40%;
  margin-left: 29%;
  margin-top: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}
#featured {
  margin: auto;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 50px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#homeImage{
  margin-left: 25%;
  margin-top: 20%;
}

/* PRODUCTS */
#prodcutspage {
  background-color: #00BFFF;
}
#prodHeader {
  background-color: white;
  padding-top: 10px;
}
#h1 {
  color: #00BFFF;
  font-size: 5em; /* 120 px*/
  padding: 1em; /* 22px */
}
#product1 {
  background-color: white;
  width: 40em;
  height: 18em;
  padding: 1em;
  float: left;
  margin: 5em;
}
#product2 {
  background-color: white;
  width: 40em;
  height: 18em;
  padding: 1em;
  float: right;
  margin: 5em;
}
#product3 {
  background-color: white;
  width: 40em;
  height: 18em;
  padding: 1em;
  float: left;
  margin: 5em;
}
#product4 {
  background-color: white;
  width: 40em;
  height: 18em;
  padding: 1em;
  float: right;
  margin: 5em;
}
#product5 {
  background-color: white;
  width: 40em;
  height: 18em;
  padding: 1em;
  float: left;
  margin: 5em;
}
.button4 {
  float: right;
}
#Ultrasound_Table {
  height: 18em;
  width: 15em;
}
#Time_Meter {
  height: 18em;
  width: 15em;
}
#PACS_Workstations {
  height: 18em;
  width: 15em;
}
#Mammoviewer_AVS {
  height: 18em;
  width: 15em;
}
#Exam_Table {
  height: 18em;
  width: 15em;
}
#product1_header {
  float: right;
  font-size: 3em;
}
#product1 {
  background-color: white;
  width: 90%;
  height: 18em;
  padding: 1em;
  float: left;
  margin: 5em;
  position: relative;
}
#product2 {
  background-color: white;
  width: 90%;
  height: 18em;
  padding: 1em;
  float: right;
  margin: 5em;
}
#product3 {
  background-color: white;
  width: 90%;
  height: 18em;
  padding: 1em;
  float: left;
  margin: 5em;
}
#product4 {
  background-color: white;
  width: 90%;
  height: 18em;
  padding: 1em;
  float: right;
  margin: 5em;
}
#product5 {
  background-color: white;
  width: 90%;
  height: 18em;
  padding: 1em;
  float: left;
  margin: 5em;
}
#product1_header {
  text-align: center;
  font-size: 3em;
}

/* CHECKOUT */
h3{
  margin: 0;
}
#checkoutpage{
  margin: 0;
}
input[type=text], select, textarea {
  width: 75%;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 50px;
  resize: initial;
  font-size: 35px;
  margin-left: 130px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  font-size: 50px;
  width: 75%;
  margin-top: 50px;
  margin-left: 130px;
  padding: 50px 100px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 80px;
}
#fname {
  margin-top: 150px;
}

/* POST ORDER */
#postOrderBody{
  background-color: #00BFFF;
  margin: 0;
}
#checkoutMessage {
  background-color: white;
  width: 75%;
}

/* NAVBAR */
a {
  color: #000;
}
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,50);
  position: fixed;
  width: 100%;
  height: 6%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  text-decoration: none;
}
/* MENU */
.header .menu {
  clear: both;
  font-size: 20px;
  padding-bottom: 10px;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* MENU ICON */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 8px 2px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  margin-top: 23px;
  position: relative;
  margin-right: 5px;
  transition: background .2s ease-out;
  width: 40px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 10px;
}
.header .menu-icon .navicon:after {
  top: -10px;
}
/* MENU BTN */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*-------------------------------------------------------------------*/
                          /* TABLET */
/*-------------------------------------------------------------------*/

@media only screen and (min-width: 400px) {

  /* HOME PAGE */
  body {
    background-color: #00BFFF;
    margin: 0;
  }
  .button1 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 60px 80px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 81%;
    margin-left: 10%;
    margin-top: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    margin-bottom: 80px;
  }
  .button2 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 60px 80px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    width: 65%;
    margin-left: 10%;
    margin-top: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 40px;
    text-decoration:none;
  }
  .button3 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 60px 80px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 81%;
    margin-left: 10%;
    margin-top: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    margin-bottom: 40px;
  }
  .button4 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 35px 40px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 40%;
    margin-left: 29%;
    margin-top: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
  }
  #featured {
    margin: auto;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  #homeImage {
    max-width:45%;
    max-height:45%;
    width: 100%;
    text-align: center;
    margin-top:30%
  }
  /*==========FOOTER STYLE==========*/
  .footer {
    color: white;
    background-color: inherit; /*need to reviist the footer style*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    margin:auto;
    text-align: center;
    height:100px;
  }
  .footer .copyright {
  	font-size:0.618em;
  }
  /*==========FOOTER STYLE==========*/

  /* PRODUCTS */
  #prodcutspage {
    background-color: #00BFFF;
  }
  #prodHeader {
    background-color: white;
    padding-top: 10px;
  }
  #h1 {
    color: #00BFFF;
    text-align: center;
    font-size: 5em; /* 120 px*/
    padding: 1em; /* 22px */
  }
  #product1 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: left;
    margin: 5em;
    position: relative;
  }
  #product2 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: right;
    margin: 5em;
  }
  #product3 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: left;
    margin: 5em;
  }
  #product4 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: right;
    margin: 5em;
  }
  #product5 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: left;
    margin: 5em;
  }
  .button4 {
    float: right;
    position: relative;
  }
  #Ultrasound_Table {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #Time_Meter {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #PACS_Workstations {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #Mammoviewer_AVS {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #Exam_Table {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #product1_header {
    float: right;
    font-size: 3em;
  }
  #prodcutspage {
     border-top:2px solid;
  }
  .prodheader {
    margin-top:3em;
    text-align:center;
    color:white;
    font-size:4.236em;
  }
  .columns {
    float: left;
    width: 100%;
    padding: 8px;
    display:block;
  }
  .products {
    color:white;
    background-color:#eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .prodimage{
    width:100%;
  }
  .products:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  .products .productname {
    background-color: #00BFFF;
    color: white;
    font-size: 2.618em;
    margin-top:0;
    padding-top:0;
    border:none;
  }
  .products p, h2{
    border-left:#eee 15px solid;
    border-right:#eee 15px solid;
    color: black;
    padding: 1em;
    text-align: center;
  }
  .products .grey {
    background-color: #eee;
    font-size: 1.618em;
    color: black;
  }
  .button {
    background-color:#00BFFF;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
  }

  /* CHECKOUT */
  h3 {
    margin: 0;
  }
  #checkoutpage {
    margin: 0;
  }
  input[type=text], select, textarea {
    width: 75%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 16px;
    resize: initial;
    font-size: 35px;
    margin-left: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    font-size: 50px;
    width: 75%;
    margin-top: 50px;
    margin-left: 130px;
    padding: 50px 100px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 80px;
  }

  /* POST ORDER */
  #postOrderBody{
    background-color: #00BFFF;
    margin: 0;
  }

  /* NAVBAR */
  a {
    color: #000;
  }
  .header {
    height: 6%;
  }
  .header li {
    float: left;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

}
/*-------------------------------------------------------------------*/
                            /* DESKTOP */
/*-------------------------------------------------------------------*/
@media only screen and (min-width: 1000px){

  /* HOME PAGE */
  body {
    background-color: #00BFFF;
    margin: 0;
  }
  .button1 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 60px 80px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 81%;
    margin-left: 10%;
    margin-top: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    margin-bottom: 80px;
  }
  .button2 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 60px 80px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    width: 65%;
    margin-left: 10%;
    margin-top: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 40px;
  }
  .button3 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 60px 80px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 81%;
    margin-left: 10%;
    margin-top: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    margin-bottom: 40px;
  }
  .button4 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 35px 40px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 40%;
    margin-left: 29%;
    margin-top: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
  }
  #featured {
    margin: auto;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  #homeImage {
    margin-left: 25%;
    margin-top: 20%;
  }

  /* PRODUCTS */
  #prodcutspage {
    background-color: #00BFFF;
  }
  #prodHeader {
    background-color: white;
    padding-top: 10px;
  }
  #h1 {
    color: #00BFFF;
    text-align: center;
    font-size: 5em; /* 120 px*/
    padding: 1em; /* 22px */
  }
  #product1 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: left;
    margin: 5em;
    position: relative;
  }
  #product2 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: right;
    margin: 5em;
  }
  #product3 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: left;
    margin: 5em;
  }
  #product4 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: right;
    margin: 5em;
  }
  #product5 {
    background-color: white;
    width: 40em;
    height: 18em;
    padding: 1em;
    float: left;
    margin: 5em;
  }
  .button4 {
    float: right;
    position: relative;
  }
  #Ultrasound_Table {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #Time_Meter {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #PACS_Workstations {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #Mammoviewer_AVS {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #Exam_Table {
    height: 18em;
    width: 15em;
    position: relative;
  }
  #product1_header {
    float: right;
    font-size: 3em;
  }
  #prodcutspage {
     border-top:2px solid;
  }
  .prodheader {
    margin-top:3em;
    text-align:center;
    color:white;
    font-size:4.236em;
  }
  .columns {
    float: left;
    width: 20em;
    padding: 8px;
    display:inline;
  }
  .products {
    color:white;
    background-color:#eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .prodimage{
    width:20em;
		height: 20em;
  }
  .products:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  .products .productname {
    background-color: #00BFFF;
    color: white;
    font-size: 2.618em;
    margin-top:0;
    padding-top:0;
    border:none;
  }
  .products p, h2{
    border-left:#eee 15px solid;
    border-right:#eee 15px solid;
    color: black;
    padding: 1em;
    text-align: center;
  }
  .products .grey {
    background-color: #eee;
    font-size: 1.618em;
    color: black;
  }
	.products .text1{
		padding-bottom: 6em;
	}
	.products .text2{
		padding-bottom: 5em;
	}
	.products .text3{
		padding-bottom: 6em;
	}
	.products .text4{
		padding-bottom: 5em;
	}
  .button {
    background-color:#00BFFF;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
  }

  /* CHECKOUT */
  h3 {
    margin: 0;
  }
  #checkoutpage {
    margin: 0;
  }
  input[type=text], select, textarea {
    width: 75%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 16px;
    resize: initial;
    font-size: 35px;
    margin-left: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    font-size: 50px;
    width: 75%;
    margin-top: 50px;
    margin-left: 130px;
    padding: 50px 100px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 80px;
  }
  #subject {
    width: 75%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 16px;
    resize: initial;
    font-size: 35px;
    margin-left: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* POST ORDER */
  #postOrderBody{
    background-color: #00BFFF;
    margin: 0;
  }

  /* NAVBAR */
  a {
    color: #000;
  }
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.4);
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 3;
   }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
   }
  .header li {
    float: left;
  }
  .header li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
 .header .logo {
   display: block;
   float: left;
   padding-top: 35px;
   padding-left: 20px;
   font-size: 20px;
   text-decoration: none;
 }
 /* MENU */
 .header .menu {
   font-size: 20px;
   padding-bottom: 10px;
   transition: max-height .2s ease-out;
   clear: none;
   float: right;
   max-height: none;
 }
 /* MENU ICON */
 .header .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 28px 20px;
   position: relative;
   user-select: none;
   display: none;
 }
 .header .menu-icon .navicon {
   background: #333;
   display: block;
   height: 3px;
   margin-top: 23px;
   position: relative;
   margin-right: 5px;
   transition: background .2s ease-out;
   width: 40px;
 }
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }
 .header .menu-icon .navicon:before {
   top: 10px;
 }
 .header .menu-icon .navicon:after {
   top: -10px;
 }
 /* MENU BTN */
 .header .menu-btn {
   display: none;
 }
 .header .menu-btn:checked ~ .menu {
   max-height: 240px;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon {
   background: transparent;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
   transform: rotate(-45deg);
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
 }
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
   top: 0;
 }

}
